html,
body,
main {
    width: 100%;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    /*Gør at eksempel chrome viser fonts mere korrekt - Brugt så min font er mere strømlignet med design (fonten bliver blødere)*/
    -webkit-font-smoothing: antialiased;
}

h2 {
    color: #d66b00;
    font-size: 33px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    
}

#app {
     display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    line-height: 22px;
}

/******************************************************************** 
***************************** Landing Page *************************/

#landingPage h1 {
    width: 400px;
}

#landingPage h2 {
    width: 460px;
}

#landingPage h1,
#landingPage h2 {
    color: white;
    font-weight: 600;
    font-size: 40px;
}

#landingPage h3 {
    color: #1f3050;
    font-weight: 800;
    font-size: 29px;
    width: 670px;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

#landingPage h3 #landingPageTitleCaroussel {
    color: #d66b00;
    font-size: 40px;
    padding-left: 3px;
}

#langingPageTop {
    background-color: #314467;
}

#landingPageTopContent {
    display: flex;
    justify-content: flex-end;
    height: 70vh;
    /* Bruges så vi kan lægge boxen med tekst oven på billedet */
    position: relative;
    max-width: 2200px;
    max-height: 1000px;
    margin: 0 auto;
}

#landingPageTopWhiteStripe,
#langingPageTopText {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 55%;
    /*Kildehenvisning: https://bennettfeely.com/clippy*/
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}

#langingPageTopText {
    left: 0;
    background-color: #314467;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* Bruges for at få den blå baggrund til at ligge øverst */
    z-index: 1;
}

#landingPageTopWhiteStripe {
    left: 40px;
    background-color: white;
}

#langingPageTopTextContainer {
    width: 670px;
    padding-right: 100px;
    align-items: flex-start;
}

#landingPage h2 span {
    font-weight: bold;
}

#landingPage #KelgordPic {
    background-image: url(/images/KelgordNJ.jpg);
    width: 75%;

    background-size: cover;
    background-position: center;
}

#landingPageMainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    max-width: 850px;
}

#landingPageMainText p {
    font-size: 17px;
    margin: 10px 0;
}

#landingPageMainText img {
    margin-top: 60px;
    margin-bottom: 80px;
}

/******************************************************************** 
************************ Top Title Description *********************/

#TopTitleDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    margin-bottom: 120px;
}

#TopTitleDescription h1 {
    color: #d66b00;
    font-size: 42px;
}

#divider {
    background-color: #00000019;
    height: 2px;
    width: 700px;
}

#TopTitleDescription p {
    text-align: center;
    width: 400px;
    font: 600 20px/24px Raleway;
}

#TopTitleDescription p span {
    font-weight: bold;
}

/******************************************************************** 
************************ Side Title Description *********************/

#sideTitleDescription {
    margin: 0 60px;
    align-items: flex-start;
    
}

#sideTitleDescription h1 {
    color: #d66b00;
    font-size: 42px;
    margin-bottom: 10px;
}


#dividerVertical {
    background-color: #00000019;
    height: 700px;
    width: 2px;
    margin-right: 60px;
}

#sideTitleDescription p{
    margin-top: 0;
    text-align: left;
    width: 320px;
    font: 600 20px/24px Raleway;
}

#sideTitleDescription p span {
    font-weight: bold;
}

#kerneKompPageContent {
    width: 1500px;

}
/******************************************************************** 
********** Styled links with orange border and arrow ***************/
.orange-link {
    display: flex;
    align-items: center;
    color: #d66b00;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 15px;
}

.orange-link:hover {
    color: #f87c00;
    transition: all 0.2s ease;
}

.orange-link img {
    margin-left: 5px;
    width: 25px;
}

/******************************************************************** 
****************************** Om Kelgord **************************/

#OmKelgordPage #videoAndText {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Videoen hentes fra Youtube. Vi gør videoen responsiv efter denne guide - Kildehenvisning: https://flaviocopes.com/responsive-youtube-videos/?fbclid=IwAR0QUZhjsiBtL4ji1c8JO0j0L6VGfv1rJvcQNzwAVyhr7oymGr7LxHvP_5k*/
#OmKelgordPage #video {
    margin-right: 5px;
    /*Dette gør at videoen ikke fylder ud over vores div (bruges da den er absolutte)*/
    overflow: hidden;
    /*Bruges da det absolutte barn skal lægge sig i forhold til dette element*/
    position: relative;
    width: 780px;
    box-shadow: 2px 3px 15px #00000053;
    /*Kildehenvisning: https://bennettfeely.com/clippy/?fbclid=IwAR1cLS7YieJDtsOcMI_qVeR_LuyaBE5865ammVgkrCDiP9XbrHW2b4Hb4_E*/
    clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
}

/*::after - Er et pseudo element (ikke et vi skriver i html, css indsætter det for os) Elementet bruges som indhold og til at bestemme en størrelse*/
#OmKelgordPage #video::after {
    /*Vi bruger padding top for at få div'en til at fylde så meget som videoen. Her er 56.25% det magiske tal*/
    padding-top: 56.25%;
    /*Bruges for at den fylder noget*/
    display: block;
    content: "";
}

#OmKelgordPage #video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#OmKelgordPage #videoText {
    height: 40%;
    width: 500px;
    color: white;
    background-color: #314467;
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
    padding: 40px 60px 60px 110px;
}

#OmKelgordPage #experiencedText {
    margin: 90px;
    width: 650px;
}

#certificationAndCourses {
    justify-content: space-between;
    width: 60%;
    max-width: 1100px;
}

#certificationAndCoursesText {
    width: 435px;
}

#certificationAndCoursesText p span {
    font-weight: bold;
}

#certificationAndCoursesTextAlways {
    margin: 35px 0;
}

#certificationAndCoursesTextAlways p {
    margin: 3px 0;
}

#OmKelgordPage #certificateIcon img {
    width: 140px;
    margin: 30px 20px;
}

/******************************************************************** 
************************** Konsulentydelser ************************/
#konsulentydelser {
    width: 100%;
    justify-content: space-between;
    background-color: #314467;
}

#konsulentydelserContent {
    width: 100%;
    max-width: 2200px;
    margin: 0 auto;
}

.konsulentydelse {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #314467;
    height: 460px;
    transition: all 0.3s ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.konsulentydelse:hover {
    flex: 3;
    background-color: white;
    padding: 0 140px;
    box-shadow: 0px 3px 18px #00000038;
    /*Kildehenvisning: https://bennettfeely.com/clippy*/
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
}

.konsulentydelse:hover:first-child {
    /*Kildehenvisning: https://bennettfeely.com/clippy*/
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    /* Første element skal have mindre padding til venstre, da denne side ikke er skrå  */
    padding-left: 40px;

}

.konsulentydelse:hover:last-child {
    /*Kildehenvisning: https://bennettfeely.com/clippy*/
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
    /* Sidste element skal have mindre padding til højre, da denne side ikke er skrå  */
    padding-right: 40px;
}

.konsulentydelse:hover h2 {
    color: #d66b00;
}

.konsulentydelse:hover p {
    display: block;
    text-align: center;
    width: 18vw;
}

/*Her sørger vi for at teksten ikke bliver bredere når rækken med konsulentydelser holder op med at vokse */
@media only screen and (min-width: 2200px) {
    .konsulentydelse:hover p {
        width: 396px;
    }
}

.konsulentydelse h2 {
    color: white;
}

.konsulentydelse p {
    display: none;
}

/******************************************************************** 
************************** kerneværdierPage ************************/

#kernevaerdierPage {
        flex: 1;
    align-items: center;
}

/******************************************************************** 
************************** Kompetencer ************************/

#kompetencerPage {
    padding: 60px 0;
    align-items: center;
    align-items: flex-start;
}

#kompetencerPage h2 {
    font-size: 25px;
}

.kompetence p {
    width: 80%;
    max-width: 550px;
}





















